body {

    font-family: Palatino, Georgia, "Times New Roman", serif;
    font-size: 16pt;

}

.border {

    display: inline-block;
    margin: 0;
    border: 20px groove cyan;
    padding: 0;
    background-color: #fcdfac;
    width: 100%;
    height: 100%;

}

.headshot {

    display: inline-block;
    float: left;
    vertical-align: top;
    max-width: 40%;
    max-height: 100%;
    margin: 10px;
    border: 10px groove green;
    padding: 0;

}

.bio, .exp. .projects {
    
    display: inline-block;
    float: left;
    vertical-align: top;
    max-width: 50%;
    max-height: 100%;

}

img {

    max-width: 100%;
    max-height: 100%;

}

h1 {

    text-align: center;
    font-size: 48pt;

}

h2 {

    text-align: left;
    font-size: 28pt;

}

h3 {

    text-align: left;
    font-size: 24pt;

}

h4 {

    text-align: left;
    font-size: 20pt;

}
