body {

    font-family: Palatino, Georgia, "Times New Roman", serif;
    font-size: 16pt;

}

.border {

    display: inline-block;
    margin: 0;
    border: 20px groove black;
    padding: 0;
    background-color: #fcdfac;
    width: 100%;
    height: 100%;
    text-align: center;

}

a {

    font-size: 28pt;
    margin: 10px;
    border: 0;
    padding: 0;

}
